<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/styles/output.css" rel="stylesheet">
    <script src="./assets/script/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-ddgrey min-h-screen flex flex-col justify-center items-center text-black ">

    <div class="container w-1/2 h-auto bg-white rounded border-transparent p-2 mb-1">
        <div
            class="container flex flex-col items-center text-center gap-y-2 bg-ddwhite p-3 rounded-md sm:flex-row justify-center sm:justify-around">
            <a href="/admin"
                class="w-1/3 hover:text-ddblue text-sm bg-transparent md:border-r-2 border-dashed border-ddblue">Admin</a>
            <a href="/login"
                class="w-1/3 hover:text-ddblue text-sm bg-transparent md:border-r-2 border-dashed border-ddblue">Login</a>
            <a href="/register"
                class="w-1/3 hover:text-ddblue text-sm bg-transparent">Register</a>
        </div>
        <img src="./assets/images/datadome.png" alt="" class="animate-in fade-in zoom-in h-20 md:h-28 mx-auto">

        <h1 class="bg-ddblue rounded-t text-center text-ddgrey text-lg font-semibold capitalize p-1">Admin Panel
        </h1>
        <table class="w-full">
            <thead class="bg-ddgrey text-ddwhite">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                <tr class="my-1">
                        <td>
                            <%= user.firstName %>
                        </td>
                        <td>
                            <%= user.lastName %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.password %>
                        </td>
                        <td>
                            <button class="bg-ddgreen px-4 py-1 rounded-md text-white border-2 border-ddgreen hover:text-ddgreen hover:bg-white hover:border-ddgreen">Edit</button>
                            <button class="bg-ddred px-2 py-1 rounded-md text-white border-2 border-ddred hover:text-ddred hover:bg-white hover:border-ddred hover:border-2">Delete</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <div class="container text-center text-white text-sm">© Made with Tailwind CSS | © Protected by DataDome</div>
</body>

</html>