<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <!-- npx tailwindcss -i ./src/input.css -o ./src/output.css --watch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-ddgrey h-screen flex flex-col justify-center items-center">
    <div
        class="container w-1/2 h-auto bg-white rounded border-transparent outline outline-ddgrey outline-4 p-2 hover:outline-8">
        <h1 class="bg-ddblue rounded-t text-center text-lg font-semibold p-1">Register flow protected by DataDome</h1>
        <div class="container flex flex-wrap justify-around bg-ddwhite p-3 rounded-b-md">
            <button type="button" class="w-1/2 hover:text-ddblue text-sm hover:scale-110 bg-transparent">Admin</button>
            <button type="button" onclick="autofill()"
                class="w-1/2 hover:text-ddblue text-sm hover:scale-110">Autofill</button>
        </div>
        <h2 class="text-center font-bold m-2">Register now!</h2>
        <form action="/register" method="POST">
            <div class="flex flex-col gap-y-2">
                <div class="flex w-90 mx-auto gap-1">
                    <label for="firstName"></label>
                    <input type="text" name="firstName" placeholder="First Name*"
                        class="w-1/2 text-center border-2 border-ddwhite border-dashed rounded-md p-1 hover:border-ddblue active:border-ddblue focus:border-ddblue"
                        id="firstName" required>
                    <label for="firstName"></label>
                    <input type="text" name="lastName" placeholder="Last Name*"
                        class="w-1/2 text-center border-2 border-ddwhite border-dashed rounded-md p-1 hover:border-ddblue active:border-ddblue focus:border-ddblue"
                        id="lastName" required>
                </div>
                <div class="flex w-90 mx-auto gap-1">
                    <label for="email"></label>
                    <input type="email" name="email" placeholder="Email*"
                        class="w-1/2 text-center border-2 border-ddwhite border-dashed rounded-md p-1 hover:border-ddblue active:border-ddblue focus:border-ddblue"
                        id="email" required>
                    <label for="password"></label>
                    <input type="password" name="password" placeholder="Password*"
                        class="w-1/2 text-center border-2 border-ddwhite border-dashed rounded-md p-1 hover:border-ddblue active:border-ddblue focus:border-ddblue"
                        id="password" required>
                </div>
                <div class="flex w-90 gap-2 mt-1">
                    <button type="submit"
                        class="w-1/2 bg-ddgreen p-1 rounded-md text-white border-2 border-ddgreen hover:text-ddgreen hover:bg-white hover:border-ddgreen">Submit</button>
                    <button type="reset"
                        class="w-1/2 bg-ddred p-1 rounded-md text-white border-2 border-ddred hover:text-ddred hover:bg-white hover:border-ddred hover:border-2">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center text-white italic text-sm">© Made with Tailwind CSS</div>
</body>

</html>